footer {
	padding: 70px 5vw;
	background: #272727;
	.inner {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		.con {
			display: flex;
			justify-content: space-between;

			h1 {
				font-weight: bold;
				font-size: 30px;
				color: #fff;
				letter-spacing: -1px;
			}
			h2 {
				font: 400 16px/1 'Oswald';
				color: #fff;
				letter-spacing: 1.5px;
			}
			p {
				color: #8b8b8b;
				font-size: 14px;
			}

			.sns {
				display: flex;
				gap: 10px;
				li {
					svg {
						width: 16px;
						height: 16px;
						font-size: 12px;
						padding: 7px;
						border-radius: 50%;
						color: #fff;
						background: #c6a47e;
					}
				}
			}
		}
	}
}
