header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: transparent;
	display: flex;
	justify-content: space-between;
	z-index: 5;
	h1 {
		width: 320px;
		height: 350px;
		background: #fff;
		text-align: center;
		padding: 50px 0;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 1;
		a {
			font-weight: bold;
			font-size: 32px;
			color: #3d3d3d;
			letter-spacing: -1px;
		}
	}
	#gnb {
		height: 130px;
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		ul {
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 45px;
			li {
				a {
					font: 400 15px/1 'Oswald';
					color: #fff;
					letter-spacing: 2px;
				}
			}
		}
	}
	.sns {
		position: absolute;
		top: 130px;
		left: 90px;
		&::before {
			content: '';
			display: block;
			width: 1px;
			height: 50px;
			background: #c5c5c5;
			transform: translateX(7px);
		}
		li {
			color: #c5c5c5;
			margin-top: 33px;
			cursor: pointer;
		}
	}
}

header.main {
	h1 {
		background: #2b2b2b;
		a {
			color: #fff;
		}
	}
	.sns {
		&::before {
			background: #606060;
		}
		li {
			color: #606060;
		}
	}
}

@media screen and (max-width: $web_s) {
	header {
		h1 {
			width: 280px;
		}
		#gnb {
			padding: 0 5vw;
			ul {
				gap: 45px;
				li {
					a {
						font: 400 14px/1 'Oswald';
					}
				}
			}
		}
		.sns {
			position: absolute;
			top: 130px;
			left: 70px;
			&::before {
				content: '';
				display: block;
				width: 1px;
				height: 50px;
				background: #c5c5c5;
				transform: translateX(7px);
			}
			li {
				color: #c5c5c5;
				margin-top: 33px;
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		h1 {
			width: auto;
			height: auto;
			padding: 20px 5vw;
			text-align: left;
			background: transparent;
			a {
				font-size: 22px;
				color: #fff;
			}
		}
		#gnb {
			display: none;
		}
		.sns {
			display: none;
		}
	}
}

@media screen and (max-width: $mobile) {
}
