header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: transparent;
	display: flex;
	justify-content: space-between;
	padding-right: 20vw;
	z-index: 5;
	h1 {
		width: 375px;
		height: 400px;
		background: #fff;
		text-align: center;
		padding: 50px 0;
		a {
			font-size: 40px;
			color: #3d3d3d;
		}
	}
	#gnb {
		height: 130px;
		ul {
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 40px;
			li {
				a {
					font: 14px/1 'arial';
					color: #fff;
				}
			}
		}
	}
	.sns {
		position: absolute;
		top: 130px;
		left: 90px;
		&::before {
			content: '';
			display: block;
			width: 1px;
			height: 50px;
			background: #c5c5c5;
			transform: translateX(7px);
		}
		li {
			color: #c5c5c5;
			margin-top: 45px;
		}
	}
}

header.main {
	h1 {
		background: #2b2b2b;
		a {
			color: #fff;
		}
	}
	.sns {
		&::before {
			background: #606060;
		}
		li {
			color: #606060;
		}
	}
}
