#visual {
	width: 100%;
	height: 100vh;
	background: #272727;
	position: relative;
	.swiper {
		height: 100%;
		.swiper-slide {
			width: 100%;
			.inner {
				position: relative;
				width: 100%;
				height: 100%;
				background: #272727;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: saturate(0.9) brightness(0.5) sepia(0.4);
				}
				.txt {
					position: absolute;
					width: 100%;
					max-width: 1280px;
					top: 50%;
					left: 50%;
					color: #fff;
					text-align: right;
					transform: translate(-50%, -45%);

					h2 {
						text-align: right;
						font: 400 42px/1 'Oswald';
						letter-spacing: 0.3em;
						margin-bottom: 35px;
					}
					p {
						padding-left: 60%;
						text-align: right;
						font-size: 16px;
						font-weight: 400;
						line-height: 1.8;
						margin-bottom: 35px;
					}

					button {
						height: 50px;
						padding: 0 25px;
						font-size: 14px;
						text-align: center;
						color: #fff;
						font-weight: 500;
						border-radius: 25px;
						background: $primary;
						border: 0;
						outline: 0;
					}
				}
			}
		}
		.swiper-navi {
			position: absolute;
			z-index: 1;
			font: 400 13px/1 'Oswald';
			color: #fff;
			letter-spacing: 0.3em;
			top: 350px;
			opacity: 0.8;
			cursor: pointer;
			svg {
				color: #888;
				font-size: 16px;
				margin: 0 10px;
			}
		}
		.prev {
			left: 40px;
		}
		.next {
			left: 150px;
		}

		.swiper-pagination-fraction {
			width: 320px;
			height: 220px;
			bottom: auto;
			left: 0;
			top: 130px;
			background: #2b2b2b;
			color: #5e5e5e;
			font: 500 20px/1 'Oswald';
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;

			.swiper-pagination-current {
				color: $primary;
				font: 400 80px/1 'Oswald';
				letter-spacing: 1px;
				margin-right: 10px;
			}
			.swiper-pagination-total {
				letter-spacing: 1px;
				margin-left: 10px;
			}
			.swiper-pagination-current::before,
			.swiper-pagination-total::before {
				content: '0';
			}
		}
	}
}

@media screen and (max-width: $web_s) {
	#visual {
		.swiper {
			.swiper-slide {
				.inner {
					.txt {
						padding: 0 5vw;
						transform: translate(-50%, -20%);
						p {
							padding-left: 50%;
						}
					}
				}
			}
			.swiper-pagination-fraction {
				width: 280px;
				height: 180px;
			}
		}
	}
}
