.Gallery {
	> .inner {
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		position: relative;

		.loading {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 0;
		}

		.gallery_top {
			position: relative;
			text-align: center;
			margin-bottom: 70px;
			button {
				background: none;
				border: none;
				outline: none;
				font: 18px/1 'Oswald';
				margin: 0 10px;
				padding: 5px;
				letter-spacing: 2px;
				&.on {
					border-bottom: 2px solid $primary;
				}
			}
			.searchBox {
				position: absolute;
				top: 0;
				right: 20px;
				display: flex;
				align-items: center;
				input {
					height: 45px;
					border: 0;
					background: #c5c5c5;
					border-radius: 3px;
					padding: 0 15px;
					margin-right: 5px;
				}
				button {
					background: $primary;
					color: #fff;
					text-align: center;
					height: 45px;
					border-radius: 3px;
					padding: 0 15px;
					margin-right: 0;
					font: 14px/1 'Oswald';
					letter-spacing: 1.5px;
				}
			}
		}

		.frame {
			width: 100%;
			transition: transform 0.5s, opacity 0.5s;
			transform: translateY(200px);
			opacity: 0;
			&.on {
				transform: translateY(0px);
				opacity: 1;
			}
			article {
				width: calc(100% / 3);
				padding: 20px;

				.inner {
					width: 100%;
					.pic {
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
