.Join {
	> .inner {
		padding: 170px 0;
		background: #fff;

		.wrap {
			width: 100%;
			max-width: 1280px;
			margin: 0 auto;
			background: #fff;
			padding: 0 5vw;
			h1 {
				font: 400 40px/1 'Oswald';
				text-align: center;
				color: #212121;
				letter-spacing: 2px;
				span {
					color: #c6a47e;
				}
				margin-bottom: 100px;
			}
			table {
				width: 100%;
				tbody {
					tr {
						td {
							position: relative;
							width: 50%;
							padding: 20px 10px;

							label {
								font: 500 12px/1 'Montserrat';
							}

							input[type='text'],
							input[type='password'] {
								width: 100%;
								background: #f5f5f5;
								border: none;
								outline: none;
								height: 50px;
								border-radius: 5px;
								padding: 0 20px;
								font: 500 14px/1 'Montserrat';
							}
							input[type='checkbox'],
							input[type='radio'] {
								width: auto;
								opacity: 0;
								position: absolute;
								& + label {
									position: relative;
									padding-left: 30px;
									display: inline-block;
									line-height: 24px;
									margin-right: 15px;
									color: #292929;
									font-size: 14px;

									&::before {
										content: '';
										position: absolute;
										left: 0;
										top: 0;
										width: 20px;
										height: 20px;
										border-radius: 3px;
										border: 2px solid #f5f5f5;
										background: #f5f5f5;
										transition: transform 0.28s ease;
									}
									&::after {
										content: '';
										display: block;
										width: 16px;
										height: 16px;
										transform: scale(0);
										position: absolute;
										top: 4px;
										left: 4px;
										background: #c6a47e;
										border-radius: 2px;
										transition: transform 0.28s ease;
									}
								}
								&:checked + label {
									&::before {
										border-color: #c6a47e;
										background: #fff;
									}
									&::after {
										transform: scale(1);
									}
								}
							}
							input[type='radio'] {
								& + label {
									&::before {
										border-radius: 50%;
									}
									&::after {
										border-radius: 50%;
									}
								}
							}

							textarea {
								width: 100%;
								background: #f5f5f5;
								border: none;
								outline: none;
								height: 200px;
								border-radius: 5px;
								resize: none;
								padding: 20px;
								font: 500 14px/1 'Montserrat';
							}
							.err {
								position: absolute;
								font: 400 12px/1 'Montserrat';
								color: #c6a47e;
								bottom: 0;
								text-indent: 5px;
							}
						}
						&:last-child {
							text-align: right;
							button {
								background: #c6a47e;
								border: none;
								outline: none;
								height: 50px;
								border-radius: 25px;
								padding: 0 25px;
								color: #fff;
								font: 500 12px/1 'Montserrat';
								svg {
									margin-left: 15px;
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Members {
		> .inner {
			.wrap {
				table {
					tbody {
						tr {
							display: flex;
							flex-wrap: wrap;
							td {
								width: 100%;
								padding: 10px 10px;
								.err {
									position: relative;
									margin-top: 5px;
									line-height: 1.2;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mo) {
	.Members {
		> .inner {
			.wrap {
				h1 {
					font-size: 30px;
					padding: 0 5vw;
					margin-bottom: 70px;
				}
				table {
					tbody {
						td {
							padding: 10px 0px;
						}
					}
				}
			}
		}
	}
}
