@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald:wght@400;500&display=swap');

// 반응형
$web_s: 1379px;
$tablet: 1023px;
$mo: 779px;
$mo_s: 539px;

// common
@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';
@import 'common/pop';

// main
@import 'main/visual';
@import 'main/content';

// sub
@import 'sub/about';
@import 'sub/community';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/contact';
@import 'sub/join';
